.knowledges {
    display: grid;
    grid-area: knowledges;
    grid-gap: 1rem;
    grid-template-areas: "knowledges-description knowledges-items";
    grid-template-columns: 1fr 1fr;
    margin: 0 1rem;

    @media (max-width: 900px) {
        grid-template-columns: 2fr 1fr;
    }

    @media(max-width: 640px) {
        grid-template-areas: "knowledges-items" "knowledges-description";
        grid-template-columns: 1fr;
    }

    &__description {
        grid-area: knowledges-description;

        &__img {
            float: left;
            height: 15vw;
            margin: 0 1.5rem 1rem 0;
            width: 15vw;
        }

        &__text {
            padding-bottom: 1rem;
            white-space: pre-line;
        }
    }

    &__items {
        align-content: stretch;
        display: grid;
        grid-area: knowledges-items;
        grid-auto-rows: 9.5rem;
        grid-template-columns: repeat(auto-fill, minmax(200px, auto));
        justify-content: center;

        @media (max-width: 400px) {
            grid-template-columns: repeat(auto-fill, minmax(150px, auto));
        }
    }

    &-item {
        display: grid;
        grid-gap: 1rem;
        grid-template-rows: 4rem 1.5rem;
        padding: 1.5rem;

        &__title {
            font-size: 1.5rem;
            margin: 0;
            text-align: center;
        }
    }
}


