.portfolio__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-item {
    min-width: 250px;
    width: 100%;
    max-width: 18vw;

    &__link {
        width: 100%;
        height: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__hover-content {
        width: 100%;
        height: 100%;
        padding: 20%;
        text-align: center;
        font-size: 2rem;
        color: white;
        background-color: var(--color-primary);
        opacity: 0;
        z-index: 2;
        transition: all .5s ease;

        &:hover { opacity: .9; }
    }

    &__img {
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &__caption {
        margin: 0 auto;
        text-align: center;
        padding: 1.5rem;
    }
}
