.profile {
    display: grid;
    grid-area: profile;
    grid-template-areas: "profile-img" "profile-title" "profile-subtitle" "profile-social";

    &__img { grid-area: profile-img; }

    &__title {
        grid-area: profile-title;
        padding: 1rem;
    }

    &__subtitle {
        grid-area: profile-subtitle;
        padding: 1rem;
    }

    &__social {
        grid-area: profile-social;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        padding: 1rem;
    }

    &__link {
        text-decoration: none;
        transition: all 0.3s;

        &:link, &:visited { color: var(--color-muted); }
        &:hover, &:focus, &:active { color: var(--color-primary); }
    }

    @media (max-width: 1200px) {
        margin: 5rem;
        grid-gap: 5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "profile-img profile-title"
        "profile-img profile-subtitle"
        "profile-img profile-social";

        &__social {
            padding-left: 0;
            padding-right: 5rem;
            justify-content: space-between;
        }
    }

    @media (max-width: 800px) {
        margin: 3rem;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;

        &__social {
            padding-left: 0;
            padding-right: 3rem;
            justify-content: space-between;
        }
    }

    @media (max-width: 600px) {
        margin: 0;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;

        &__social {
            padding: 0;
            justify-content: space-around;
        }
    }

}
