.welcome {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    transition: all 2s linear;

    &__message {
        font-family: 'Raleway';
        font-size: 6rem;
        text-align: center;
        font-weight: 100;
        background: linear-gradient(to right, var(--color-ternary), var(--color-quaternary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 1s linear;

        &--hover {
            -webkit-text-fill-color: var(--color-cloud);
            background: none;
        }
    }

    &--hover {
        transition: all 2s linear;
        background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
    }
}
