.welcome {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    transition: all 2s linear;

    &__message {
        font-family: 'Raleway';
        font-size: 6rem;
        text-align: center;
        font-weight: 100;
        background: linear-gradient(to right, #480048, #C04848);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 1s linear;

        &--hover {
            -webkit-text-fill-color: white;
            background: none;
        }
    }

    &--hover {
        transition: all 2s linear;
        background: linear-gradient(to right, #2B32B2, #1488CC);
    }
}
