@import 'components/all';

#services {
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

#profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 'profile knowledges knowledges';

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-areas: 'profile' 'knowledges';
  }
}
