:root {
    --color-primary: #1488CC;
    --color-secondary: #2B32B2;
    --color-ternary: #480048;
    --color-quaternary: #C04848;
    --color-cloud: #ECF0F1;
    --color-clouded: #DEDEDE;
    --color-muted: #333;
    --color-light: #999;
}

blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

@each $color in primary, secondary, muted {
    .text-#{$color} { color: var(--color-#{$color}); }
    .bg-#{$color} { background-color: var(--color-#{$color}); }
}

.p-md {
    padding: 1rem;
}

.img-responsive {
    min-height: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.border--light {
    border: solid #222 .5px;
}

@import 'layout';

